crew_name: "BasicConceptCrew"
crews:
  "Step1_Concept":
    steps:
      - task_key: "generate_concept"
        agent_key: "ConceptArtist"
        task_file: "e:/Python/Amsha/src/nikhil/amsha/integration_tests/crew_forge/config/pipeline/task_concept.yaml"
        agent_file: "e:/Python/Amsha/src/nikhil/amsha/integration_tests/crew_forge/config/pipeline/agent_concept.yaml"
        knowledge_sources: []
    input:
      - key_name: "theme"
